/* custom search bar */
input[type=text] {
  width: 130px;
  border-radius: 4px;
  font-size: 16px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 50%;
}
